/* Some styles (body,.header, .content etc.) are defined in another class side-menu.css*/

/* header tag is used to render the article titles in the routes /post, /tags/xx and /topics/xx */
header a {
  color: #343434;
}

a {
  color: #06c;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
  color: #777;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post a {
  font-family: "Avenir";
  font-size: 1.1em;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: "Avenir";
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.post-taxonomy-topic, .post-taxonomy-tag {
  color: #d84b94;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

/* Pages '<2 / 3>', <3 / 3>, etc. in the root page and in route /page/2 */
.pagination a {
  color: #d84b94;
}

/* 'Read more>>' link in /tags and /topics routes. Keeping it as the pink color to match tha tags */
footer a {
  color: #d84b94;
}

.highlight {
  font-size: 0.9em;
}